# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/xenorasapi/papasha/assets/
/xenorasapi/papasha/modules/db.py
/xenorasapi/papasha/dbs/
/xenorasapi/papasha/config.py
/xenorasapi/papasha/main.py
/xenorasapi/papasha/tests/test.exe
/tests/
